.simple-tag {
    padding: 3px;
    margin: 3px;
    color: red;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    overflow: hidden;
    background-color: #f7f7f7;
    color: #2e2e2e;
    cursor: default;
}

.simple-tag a {
    padding: 0 3px;
    color: #848484;
    font-size: 12px;
    text-decoration: none;
    vertical-align: text-top;
}

.tag-select { 
    background-color: #1FBEC7;
}

input.simple-tag-input {
    margin-left: 5px;
	border: none;
}

input.simple-tag-input:focus {
    outline-width: 0px;
    border: none;
}

.simple-tags-block {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    width: 100%;
}